
<h1>Wiadomosci</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
 <% i=0%>
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= i=1+i %></td>
        <%if message.read%>
          <td><%= message.subject %></td>
        <%else%>
          <td><strong><%=message.subject%></strong></td>
        <%end%>
        <td><%= link_to 'Otworz', message_path(:id => message.id) %></td>
        <td><%= link_to 'Usuń', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br></br>
<% if logged_as_student? %>
  <br><%= link_to 'zadaj pytanie wykladowcy', new_message_path(session[:user_id])%></br>
<% end  %>
<br></br>
<% if logged_as_student? %>
    <%= link_to 'Back', student_path(session[:user_id]) %>
<%else%>
    <%= link_to 'Back', teacher_path(session[:user_id]) %>
<% end  %>


