<% if logged_as_student? %>
    <br><%= link_to "Powrót do skrzynki odbiorczej", message_path(session[:user_id]) %>
<%end%>
<% if logged_as_teacher?%>    
<h3>Wiadomość od <%=@student.name%> <%=@student.lastname%></h3>
<%end%>
<br>temat: <%= Message.find_by(id: params[:id]).subject %></br>
    tresc: <%= Message.find_by(id: params[:id]).content %>

<% if logged_as_student? %> 
    <br>
        <%= link_to 'Odpowiedz', new_message_path(session[:user_id])%>
   </br>
<% else %>
    <br>
        <% sid= Message.find(params[:id]) %>
         <%= link_to 'Odpowiedz', new_message_path(:iid => sid.student_id ) %>
    </br>
<% end %>    
    
<br></br>
<%= link_to 'Back', messages_path(session[:user_id]) %>
