<%if logged_as_teacher?%>
<h3>Wyzwania</h3>
<%= form_for @sidequest, url: sidequests_path do |f|%>
  <% if @sidequest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sidequest.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @sidequest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :Tresc%>
  <%= f.text_area :content%>
  <%= f.label :Poziom%>
  <%= f.number_field :level%>
  <%= f.label :Nagroda%>
  <%= f.number_field :reward%>
  <%= f.label :koniec %>
  <%= f.datetime_select :finish%>
  <%= f.hidden_field :finished, :value => false %>
  <%= f.hidden_field :teacher_id, :value => session[:user_id] %>
  <%= f.submit %>
<%end%>

<table>
  <thead>
    <tr>
      <th>Level</th>
      <th>Content</th>
      <th>Zakończone ?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sidequests.each do |sidequest| %>
      <tr>
        <td><%=sidequest.level%></td>
        <td><%=sidequest.content%></td>
        <td><%="zakończone" if sidequest.finished%></td>
        <td><%= link_to 'Show', sidequest %></td>
        <td><%= link_to 'Edit', edit_sidequest_path(sidequest) %></td>
        <td><%= link_to 'Destroy', sidequest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <%end%>
  </tbody>
</table>
<%end%>

<%if logged_as_student?%>
  <h3>Wyzwania</h3>
  <table>
    <thead>
      <tr>
        <th>Czas zakończenia</th>
      </tr>
    </thead>
    <tbody>
      <% @sidequests.each do |sidequest| %>
      <% sqresult = Sqresult.find_by(student_id: session[:user_id],sidequest_id: sidequest.id)
          if !Sqresult.exists?(sqresult)
      %>
        <tr>
          <td>
            <%=sidequest.finish.localtime%>
          </td>
          <td>
            <%=sidequest.reward%>
          </td>
          <td>
            <%=link_to "Weź udział", sidequest %>
          </td>
        </tr>
        <%end%>
        <%end%>
    </tbody>
  </table>
<%end%>
