<script>
    function showhide(a)
     {
           var div = document.getElementById(a);
            if (div.style.display !== "none") {
                div.style.display = "none";
            }
            else {
                div.style.display = "block";
            }
          
     }
</script>
<%if logged_as_teacher?%>
    <h3>Student: <%=@student.name%> <%=@student.lastname%> , nr albumu: <%=@student.album_number%></h3>
<%end%>
<br><%= link_to "Powrót", student_path(session[:user_id]) %></br>
<nav style="width: 30%">
    <li><%= link_to "Wyniki zadań", student_studentprofile_path(session[:user_id], :results => "1") %></li>
    <li><%= link_to "Wyniki zadań pobocznych", student_studentprofile_path(session[:user_id], :results => "2") %></li>
    <li><%= link_to "Obecności", student_studentprofile_path(session[:user_id], :results => "3") %></li>
    <li><%= link_to "Medale", student_studentprofile_path(session[:user_id], :results => "4") %></li>
</nav>
<br></br>
<% if params["results"]=="1" %>
    Wyniki z zadań:
    <% suma=0%>
    <% if @pkt.count!=0 %>
        <table  border="1">
          <thead>
            <tr>
                <td>Nr</td>
                <td>Poziom</td>
                <td>Numer</td>
                <td>Wynik [%]</td>
            </tr>
          </thead>
         <% i=0%>
          <tbody>
            <% @pkt.each do |pk| %>
              <tr>
                    <td><%= i=1+i %></td>
                    <td><%= pk.level %></td>
                    <td><%= Exercise.find_by(id: pk.exercise_id).number%></td>
                    <td><%= pk.earned_points %>%</td>
                    <td><button id='button' onclick="showhide(<%=i%>)">Szczegóły</button></td>
                    <%suma=suma+pk.earned_points%>
              </tr>
              <tr id='<%=i%>' style="display: none" >
                  <td colspan="6">
                      <li>Treść zadania: <%= Exercise.find_by(id: pk.exercise_id).content %></li>
                      <li>Odpowiedź: <%= Answer.find_by(exercise_id: pk.exercise_id).solution %></li>
                    </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        Srednia z zadań: <%= suma/i %>
    <% else %>
            <%=" brak ocenionych rozwiązań"%>
    <%end%>
<%end%>
<% if params["results"]=="2" %>
    Wyniki z zadań:
    <% suma=0%>
    <% if @sidequests.count!=0 %>
        <table  border="1">
          <thead>
            <tr>
                <td>Nr</td>
                <td>Poziom</td>

                <td>Wynik [%]</td>
            </tr>
          </thead>
         <% i=0%>
          <tbody>
            <% @sidequests.each do |sq| %>
              <tr>
                    <td><%= i=1+i %></td>
                    <td><%= sq.level %></td>
                    
                    <td><%= sq.earned_points %>%</td>
                    <%suma=suma+sq.earned_points%>
                    <td><button id='button' onclick="showhide(<%=i%>)">Szczegóły</button></td>
              </tr>
              <tr id='<%=i%>' style="display: none" >
                  <td colspan="6">
                      <li>Treść zadania: <%= Sidequest.find_by(id: sq.sidequest_id).content %></li>
                      <li>Odpowiedź: <%= Sqanswer.find_by(id: sq.sidequest_id).solution %></li>
                    </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        Srednia z wyzwań: <%= suma/i %>
    <% else %>
            <%=" brak ocenionych rozwiązań"%>
    <%end%>
<%end%>
<% if params["results"]=="3" %>
Dziennnik obecności:

    <% if @prezences.count!=0 %>
        <% stgr= Student.find(session[:user_id]).group_id %>
        
       
        <table  border="1">
         <% i=0%>
         <thead>
            <tr>
                <td>Nr</td>
                <td>Data</td>
                <td>Obecność</td>
            </tr>
          </thead>
          <tbody>
            <% @prezences.each do |presence| %>
            
              <tr>
                    <td><%= i=1+i %></td>
                    <td><%= Classescalendar.find_by(group_id: stgr, classes_number: presence.classes_number).start.to_date %></td>
                    <% if Time.new.in_time_zone("Warsaw").strftime("%Y-%m-%d %H:%M:%S").to_time.to_i<Classescalendar.find_by(group_id: stgr, classes_number: presence.classes_number).start.to_time.to_i%>
                        <td>Nieznane</td>
                    <%else%>
                        <%if presence.present==true%>
                            <td>Obecny</td>
                        <%else%>
                            <td>Nieobecny</td>
                        <%end%>
                    <%end%>
              </tr>
            <% end %>
          </tbody>
        </table>
    <% else %>
        <%="brak informacji"%>
    <%end%>
<%end%>
<% if params["results"]=="4" %>
Otrzymane medale:
    <% if @medals.count!=0 %>
        <table  border="1">
         <% i=0%>
          <tbody>
            <% @medals.each do |medal| %>
              <tr>
                    <td><%= i=1+i %></td>
                    <td><%=Medal.find_by(id: medal.medal_id).description %></td>
                    <td><%=image_tag(Medal.find_by(id: medal.medal_id).img, size:"15x15")%></td>
                    <td>+<%=Medal.find_by(id: medal.medal_id).value %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    <% else %>
        <%="brak medali"%>
    <%end%>
<%end%>