<%= form_for([@group.teacher, @group]) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :zajecia_1 %><br>
    <%= f.date_select :zajecia1%>
  </div>
    <div class="field">
    <%= f.label :zajecia_2 %><br>
    <%= f.date_select :zajecia2%>
  </div>
    <div class="field">
    <%= f.label :zajecia_3 %><br>
    <%= f.date_select :zajecia3%>
  </div>
    <div class="field">
    <%= f.label :zajecia_4 %><br>
    <%= f.date_select :zajecia4%>
  </div>
    <div class="field">
    <%= f.label :zajecia_5 %><br>
    <%= f.date_select :zajecia5%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
