<h1>Grupy</h1>
<%= render 'form'%>

<table>
  <thead>
    <tr>
      <th>Nazwa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.order(:created_at).each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'napisz do wszystkich w grupie', new_message_path(:idg => group.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h2>Ranking Światowy</h2>
<table><thead>
  <tr>
    <th>Lp.</th>
    <th>Punkty rankingowe</th>
  <th>Imie</th>
  <th>Nazwisko</th>
  <th>nralbumu</th>
  <th>Grupa</th>
  </tr>
</thead>
  <tbody>
    <% @students.each do |student|%>
        <tr>
          <td><%=@lp += 1%></td>
        <td><%= student.progre.points%></td>
        <td><%= student.name %></td>
        <td><%= student.lastname %></td>
        <td><%= student.album_number%></td>
        
        <td><%= student.group.name%></td>
        <td><%= link_to 'Show', student_studentprofile_path(student, :results => "1") %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'napisz', new_message_path(:iid => student.id) %></td>
      </tr>
    <%end%>
  </tbody>
</table>

<br>

