<p>
  <%= @group.name %>
</p>
<p><strong>Daty spotkan</strong>
</p>
<%= form_for :clas, :url => classes_update_path, :html => { :method => :put } do %>
  <table>
    <tr>
      <th>Nr zajec</th>
      <th>Start</th>
      <th>Koniec</th>
    </tr>
    <% @classes.each do |clas| %>
     <%= fields_for "clas[]", clas do |clas_fields| %>
     <tr>
       <td><%= clas.classes_number %></td>
       <td><%= clas_fields.datetime_select :start %> </td>
       <td><%= clas_fields.datetime_select :end %></td>
     </tr>
     <%end%>
    <%end%>
  </table>
  <div class="actions">
    <%= submit_tag "Zachowaj zmiany dat spotkań "%>
  </div>
<%end%>
<br></br>
<%=render 'new_student' %>
<br></br>
<h3>Ranking Grupy</h3>
<table>
  <thead>
    <tr>
      <th>Lp.</th>
      <th>Punkty</th>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th>nr albumu</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>obecnosc</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <%= form_for :presence, :url => presences_update_path, :html => { :method => :put } do %>
    <% @students.each do |student| %>
      <tr>
        <td><%=@nr+=1%></td>
        <td><%=student.progre.points%></td>
        <td><%= student.name %></td>
        <td><%= student.lastname %></td>
        <td><%= student.album_number %></td>
        <td><%= student.email %></td>
        <td><%= link_to 'Show', student_studentprofile_path(student, :results => "1") %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'napisz', new_message_path(:iid => student.id) %></td>
      <td>
          <% @presence = Presence.where(student_id: student.id) %>
          
              <% @presence.each do |presence| %>
                <%= fields_for "presence[]", presence do |presence_fields| %>
                  <%= presence_fields.check_box :present %>
                <%end%>
              <%end%>
      </td>
      </tr>
    <% end %>
  </tbody>
  </table>
         <div class="actions">
            <%= submit_tag "Zapisz zmiany obecności" %>
          </div>
  <% end %>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', teacher_groups_path(session[:user_id]) %>
