<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @teacher.lastname %>
</p>
<%= link_to 'Grupy', teacher_groups_path(session[:user_id]) %>
<%= link_to 'Ćwiczenia', teacher_exercises_path(session[:user_id]) %>
<%= link_to 'Rozwiązania', answers_path %>
<p>TODO: Wiadomości</p>
<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
