<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @teacher.lastname %>
</p>
<%= link_to 'Grupy', teacher_groups_path(session[:user_id]) %>
<%= link_to 'Lekcje', teacher_lessons_path(session[:user_id]) %>
<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
