<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @teacher.lastname %>
</p>
<%= link_to 'Grupy', teacher_groups_path(session[:user_id]) %>
<%= link_to 'Ćwiczenia', teacher_exercises_path(session[:user_id]) %>
<%= link_to 'Rozwiązania', answers_path %> | <%=Answer.where(teacher_id: session[:user_id], read: false).where.not(solution: nil).count%>
<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %> |
<%= link_to 'Wiadomosci', messages_path(session[:user_id]) %><%= Message.where(teacher_id: session[:user_id], direction: "1").count%>

