<%= form_for @exercise, url: {action: "update"} ,method: :patch do |f| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :content , "Treść ćwiczenia"%><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :hint, "Podpowiedź" %><br>
    <%= f.text_area :hint %>
  </div>
  <div class="field">
    <%= f.label :reward, "Nagroda"%><br>
    <%= f.number_field :reward %>
  </div>
  <div class="field">
    <%= f.label :level, "Zajęcia" %><br>
    <%= f.number_field :level %>
  </div>
  <div class="field">
    <%= f.label :number, "Numer" %><br>
    <%= f.number_field :number %>
  </div>
  <div class="actions">
    <%= f.submit "Akceptuj"%>
  </div>
<% end %>