<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
    function showhide(a)
     {
           var div = document.getElementById(a);
            if (div.style.display !== "none") {
                div.style.display = "none";
            }
            else {
                div.style.display = "block";
            }
          
     }
</script>

<div>
<%for i in 1..5 %>
    <% zadanie=Exercise.find_by(id: Drawnexercise.find_by(student_id: session[:user_id], level: params[:level], number: i).exercise_id)%></br>
    <br>Zadanie <%= i %>  Pkt: <%= pkt=zadanie.reward %></br>
    <br><%= zadanie.content %></br>
    <%@zad = Answer.find_by(student_id: @student.id, exercise_id: zadanie.id)%>
    <button id='button' onclick="showhide(<%=i%>)">Podpowiedź</button><div id='<%=i%>' style="display: none"><%= zadanie.hint %></div>
    <%= form_for @zad, url: {controller: "students", action: "solution"} do |f| %>
        <%= f.hidden_field :reward, :value => zadanie.reward %>
        <%= f.hidden_field :level, :value => @level %>
        <%= f.hidden_field :number, :value => i %>
        <%= f.text_area :solution, size: "60x5" %><br>
        <%= f.submit "Wyślij" %></br>
    <% end %>
<br></br>
<%end%>
</div>
